.loginWrapper {

    display: flex;
    justify-content: center;
}

.loginCard {

    width: 27vw;
    margin-top: 10%;
}

.insta-logo {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3%;
}

.insta-logo img {

    width: 15vw;
}

.text1 {

    color: grey;
    text-align: center;
}

.text2 {

    text-align: center;
}

.card2 {

    height: 2rem;
    margin-top: 2%;
}

.imgcar {

    height: 590px;
    width: 441px;

    margin-top: 10vh;

    position: relative;
}

.car {

    height: 423px;
    width: 241px;

    position: absolute;
    left: 142px;
    top: 93px;
}