.loginWrapper {

    display: flex;
    justify-content: center;
}

.loginCard {

    width: 27vw;
    margin-top: 10%;
}

.insta-logo {

    width: 100%;
    margin-top: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.insta-logo img {

    width: 15vw;
}

.text1 {

    color: grey;
    text-align: center;
}

.text2 {

    text-align: center;
}

.card2 {

    height: 7vh;
    margin-top: 2%;
}

.imgcar {

    height: 590px;
    width: 441px;

    margin-top: 8vh;

    position: relative;
}

.car {

    height: 423px;
    width: 241px;

    position: absolute;
    top: 90px;
    left: 143px;
}